.place__title {
  margin: 0%;
  width: 100%;
  font-size: 72px;
  line-height: 106%;
  /* or 106% */
}

@media screen and (min-width: calc(768px + 17px)) and (max-width: calc(1024px + 17px)) {
  .place__title {

    font-size: 42px;
    line-height: 110%;
    /* временно */
    /* цвет при 768 - 1024 */
    /* background-color: #f5a5a5; */
  }
}

@media screen and (min-width: calc(320px + 17px)) and (max-width: calc(768px + 17px - 1px)) {
  .place__title {
    width: 288px;

    font-size: 32px;
    line-height: 109%;
    /* временно */
    /* цвет при 320 - 768 */
    /* background-color: #ffe6e6; */
  }
}
