@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url(./../../Inter/static/Inter-Black.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url(./../../Inter/static/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url(./../../Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url(./../../Inter/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url(./../../Inter/static/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(./../../Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url(./../../Inter/static/Inter-Light.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url(./../../Inter/static/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 100;
    src: url(./../../Inter/static/Inter-Thin.ttf);
}

.page {
    padding: 28px 48px 24px 48px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0%;
    font-family: "Inter";
    background-color: #2A2C2F;
    color: #ffffff;

}