.lead {
  margin: 0%;
  max-width: 984px;
  max-height: 1005px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: calc(896px)) and (max-width: calc(1152px)) {
  .lead {
    width: 90.625%;
  }
}

@media screen and (min-width: calc(544px)) and (max-width: calc(896px)) {
  .lead {
    width: 100%;
  }
}

@media screen and (min-width: calc(320px)) and (max-width: calc(544px)) {
  .lead {
    width: 100%;
  }
}
