.lead {
  margin: 0%;
  max-width: 984px;
  max-height: 1005px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 896px) and (max-width: 1152px) {
  .lead {
    width: 90.625%;
  }
}

@media screen and (min-width: 544px) and (max-width: 896px) {
  .lead {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .lead {
    width: 100%;
  }
}
