.place__website__url-heading {
  margin: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;

  letter-spacing: 2px;

  color: #aaaaaa;
}

@media screen and (min-width: 544px) and (max-width: 896px) {
  .place__website__url-heading {
    line-height: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .place__website__url-heading {
    line-height: 100%;
  }
}
