.content {
  margin: 56px 0 92px 0;
  width: 100%;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 92px 0;
}

@media screen and (min-width: calc(896px)) and (max-width: calc(1152px)) {
  .content {
    margin-top: 48px;
  }
}

@media screen and (min-width: calc(544px)) and (max-width: calc(896px)) {
  .content {
    margin-top: 48px;
    margin-bottom: 88px;
    gap: 88px;
  }
}

@media screen and (min-width: calc(320px)) and (max-width: calc(544px)) {
  .content {
    margin-top: 48px;
    margin-bottom: 64px;
    gap: 64px;
  }
}