.footer__links {
  margin: 0%;
  padding: 0;
  display: flex;
  padding-right: 18px;
  flex-direction: row;
  gap: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-decoration: none;
  list-style-type: none;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    font-size: 24px;
    line-height: 100%;
  }
}
