.place__paragraph {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
}

@media screen and (min-width: calc(768px + 17px)) and (max-width: calc(1024px + 17px)) {
  .place__paragraph {
    font-size: 16px;
    /* временно */
    /* цвет при 768 - 1024 */
    /* background-color: #f5a5a5; */
  }
}

@media screen and (min-width: calc(320px + 17px)) and (max-width: calc(768px + 17px - 1px)) {
  .place__paragraph {
    font-size: 16px;
    width: 288px;
    /* временно */
    /* цвет при 320 - 768 */
    /* background-color: #ffe6e6; */
  }
}
