.footer__copyright {
  margin: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  /* identical to box height, or 114% */

  text-align: right;
}

@media screen and (min-width: calc(320px + 17px)) and (max-width: calc(768px + 17px)) {
  .footer__copyright {
    text-align: left;
    line-height: 100%;
    /* временно */
    /* цвет при 320 - 768 */
    /* background-color: #ffe6e6; */
  }
}
