.intro {
  width: 100%;
  max-width: 690px;
  padding-left: 8.44594595%;
  padding-right: 33.277027%;
  margin: 0%;
}

@media screen and (min-width: 896px) and (max-width: 1152px) {
  .intro {
    padding-left: 4.6875%;
    padding-right: 27.9296875%;
  }
}

/* 320 - 896 */
@media screen and (min-width: 320px) and (max-width: 896px) {
  .intro {
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro {
    width: 90%;
  }
}
