.intro {
  max-width: 984px;
  margin: 0%;
}

@media screen and (min-width: 896px) and (max-width: 1152px) {
  .intro {
    width: 90.625%;
  }
}

@media screen and (min-width: 544px) and (max-width: 896px) {
  .intro {
    width: 93.75%;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro {
    width: 90%;
  }
}
