.intro {
  width: 984px;
  margin: 0%;
}

@media screen and (min-width: calc(1024px + 17px)) and (max-width: calc(1280px + 17px)) {
  .intro {
    width: calc(984px + ((100% - 1184px) / ((1184 - 1024) / (984 - 928))));
    /* временно */
    background-color: #cccccc; /* цвет при 1024 - 1280 */
  }
}

@media screen and (min-width: calc(768px + 17px)) and (max-width: calc(1024px + 17px)) {
  .intro {
    width: calc(928px + ((100% - 1024px) / ((1024 - 768) / (928 - 720))));
    /* временно */
    background-color: #f5a5a5; /* цвет при 768 - 1024 */
  }
}

@media screen and (min-width: calc(320px + 17px)) and (max-width: calc(768px + 17px)) {
  .intro {
    width: calc(720px + ((100% - 768px) / ((768 - 320) / (720 - 288))));
    /* временно */
    background-color: #ffe6e6; /* цвет при 320 - 768 */
  }
}
