.lead__subtitle {
  max-width: 640px;
  max-height: 72px;

  margin: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  /* or 120% */

  text-align: center;

  margin: 32px 0 0 0;
}
@media screen and (min-width: calc(320px + 17px)) and (max-width: calc(768px + 17px)) {
  .lead__subtitle {
    margin-top: calc(32px + ((100% - 768px) / ((768 - 320) / (32 - 16))));
    /* временно */
    /* цвет при 320 - 768 */
    /* background-color: #ffe6e6; */
  }
}

/* 1/2 между 320 и 768 меняем шрифт */
@media screen and (min-width: calc(320px + 17px)) and (max-width: calc(768px - 224px + 17px)) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    max-width: 288px;
  }
}
