.lead__subtitle {
  max-width: 640px;
  max-height: 72px;

  margin: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  /* or 120% */

  text-align: center;

  margin: 32px 0 0 0;
}

@media screen and (min-width: calc(320px)) and (max-width: calc(544px)) {
  .lead__subtitle {
    margin-top: calc(32px + ((100% - 768px) / ((768 - 320) / (32 - 16))));
    font-size: 16px;
    line-height: 125%;
    max-width: 288px;
  }
}
