.cover{
    width: 1184px;
    height: 740px;
    margin: 0 0 92px 0;
    background-image: url(./../../images/cover-trains.jpg); /* разобраться с размерами*/
    background-size: 1184px 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}