.lead__caption {
  /* max-width: 158px; */
  /* max-height: 14px; */
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  align-self: flex-start;
}

@media screen and (min-width: calc(544px)) and (max-width: calc(896px)) {
  .lead__caption {
    padding-left: calc(0px + ((100% - 928px) / ((928 - 768) / (0 - 24))));
    /* временно */
    /* цвет при 768 - 1024 */
    /* background-color: #f5a5a5; */
  }
}

@media screen and (min-width: calc(320px)) and (max-width: calc(544px)) {
  .lead__caption {
    padding-left: calc(24px + ((100% - 768px) / ((768 - 320) / (24 - 16))));
    /* временно */
    /* цвет при 320 - 768 */
    /* background-color: #ffe6e6; */
  }
}
