.place {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 460px 484px;
  gap: 48px 40px;
}

@media screen and (min-width: 896px) and (max-width: 1152px) {
  .place {
    grid-template-columns: 55fr 57fr; /* отношение 440px к 456px */
    gap: 48px 32px;
  }
}

@media screen and (min-width: 544px) and (max-width: 896px) {
  .place {
    grid-template-columns: 85fr 88fr; /* отношение 340px к 352px */
    gap: 48px 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .place {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 32px 0;
  }
}
