.place {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 460px 484px;
  gap: 48px 40px;
}

@media screen and (min-width: calc(1024px)) and (max-width: calc(1280px + 17px - 1px)) {
  .place {
    grid-template-columns:
      calc(460px + ((100% - 984px) / ((984 - 928) / (460 - 440))))
      calc(484px + ((100% - 984px) / ((984 - 928) / (484 - 456))));
    gap: 48px calc(40px + ((100% - 984px) / ((984 - 928) / (40 - 32))));
    /* временно */
    /* цвет при 1024 - 1280 */
    /* background-color: #cccccc; */
  }
}

@media screen and (min-width: calc(768px)) and (max-width: calc(1024px + 17px - 1px)) {
  .place {
    grid-template-columns:
      calc(440px + ((100% - 928px) / ((928 - 720) / (440 - 340))))
      calc(456px + ((100% - 928px) / ((928 - 720) / (456 - 352))));

    gap: 48px calc(32px + ((100% - 928px) / ((928 - 720) / (32 - 28))));
    /* временно */
    /* цвет при 768 - 1024 */
    /* background-color: #f5a5a5; */
  }
}

@media screen and (min-width: calc(320px)) and (max-width: calc(768px + 17px - 1px)) {
  .place {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 32px 0;
    /* временно */
    /* цвет при 320 - 768 */
    /* background-color: #e96363; */
  }
}
