.footer {
  width: 92.5%;
  max-width: 1184px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: calc(896px)) and (max-width: calc(1152px)) {
  .footer {
    width: 90.625%;
  }
}

@media screen and (min-width: calc(544px)) and (max-width: calc(896px)) {
  .footer {
    width: 93.75%;
  }
}

@media screen and (min-width: calc(320px)) and (max-width: calc(544px)) {
  .footer {
    width: 90%;
    flex-direction: column;
    gap: 48px;
  }
}
