.place__website {
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px 0;
}

@media screen and (min-width: calc(320px + 17px)) and (max-width: calc(768px + 17px - 1px)) {
  .place__website {
    width: 288px;
    /* временно */
    background-color: #ffe6e6; /* цвет при 320 - 768 */
  }
}
