.intro__title {
  margin: 0;
  font-size: 54px;
  line-height: 107%;
  /* identical to box height, or 107% */

}

/* 1/2 между 320 и 768 меняем шрифт */
@media screen and (min-width: calc(320px)) and (max-width: calc(768px - 224px + 17px)) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
    max-width: 288px;
  }
}

