.intro__title {
  margin: 0;
  font-size: 54px;
  line-height: 107%;
  /* identical to box height, or 107% */

}

@media screen and (min-width: calc(320px)) and (max-width: calc(544px)) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
    max-width: 288px;
  }
}

